<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.akbar.mapper.AdminMapper">
    <update id="update" parameterType="Admin">
        update admin
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="username !=null">username = #{username},</if>
            <if test="role != null">role = #{role},</if>
            <if test="password != null">password = #{password},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="email != null">email = #{email},</if>
            <if test="qqNumber != null">qq_number = #{qqNumber},</if>
            <if test="address != null">address = #{address},</if>
            <if test="githubUrl != null">github_url = #{githubUrl},</if>
            <if test="bilibiliUrl != null">bilibili_url = #{bilibiliUrl},</if>
            <if test="giteeUrl != null">gitee_url = #{giteeUrl},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime}</if>
        </set>
        where id = #{id}
    </update>
</mapper>