<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.akbar.mapper.AdminMapper">
    <insert id="register">
        insert into tb_admin(username, password)
        values (#{username}, #{password});
    </insert>

    <update id="updateAdminInfo">
        update tb_admin set
        <if test="nickname!= null">nickname = #{nickname},</if>
        <if test="email!= null">email = #{email},</if>
        <if test="githubUrl!= null">github_url = #{githubUrl},</if>
        <if test="bilibiliUrl!= null">bilibili_url = #{bilibiliUrl},</if>
        <if test="giteeUrl!= null">gitee_url = #{giteeUrl},</if>
        <if test="updatedTime!= null">updated_time = #{updatedTime}</if>
        where username = #{username}
    </update>

    <update id="uploadAvatar">
        update tb_admin
        set avatar = #{avatar}
        where username = #{username}
    </update>
</mapper>