<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.akbar.mapper.ArticleMapper">

    <insert id="addArticle">
        insert into tb_article (title, summary, content, cover_image, state, admin_id, category_id, tag_id)
        values (#{title}, #{summary}, #{content}, #{coverImage}, #{state}, #{adminId}, #{categoryId}, #{tagId});
    </insert>

    <select id="getArticle" resultType="com.akbar.domain.vo.ArticleResult">
        select a.id,
               a.title,
               a.summary,
               a.content,
               a.created_time as createdTime,
               a.updated_time as updatedTime,
               a.cover_image  as coverImage,
               a.state,
               a.admin_id     as adminId,
               a.category_id  as categoryId,
               a.tag_id       as tagId,
               c.name         as categoryName,
               t.name         as tagName,
               ad.username    as authorName
        from tb_article a
                 left join
             tb_category c on a.category_id = c.id
                 left join
             tb_tag t on a.tag_id = t.id
                 left join
             tb_admin ad on a.admin_id = ad.id
        where a.id = #{id};
    </select>

    <update id="updateArticle">
        update tb_article
        set title        = #{title},
            summary      = #{summary},
            content      = #{content},
            cover_image  = #{coverImage},
            state        = #{state},
            admin_id     = #{adminId},
            category_id  = #{categoryId},
            tag_id       = #{tagId},
            updated_time = #{updatedTime}
        where id = #{id};
    </update>

    <select id="pageArticle" resultType="com.akbar.domain.vo.ArticleResult">
        select a.id,
               a.title,
               a.summary,
               a.content,
               a.created_time as createdTime,
               a.updated_time as updatedTime,
               a.cover_image  as coverImage,
               a.state,
               a.admin_id     as adminId,
               a.category_id  as categoryId,
               a.tag_id       as tagId,
               c.name         as categoryName,
               t.name         as tagName,
               ad.username    as authorName
        from tb_article a
                 left join
             tb_category c on a.category_id = c.id
                 left join
             tb_tag t on a.tag_id = t.id
                 left join
             tb_admin ad on a.admin_id = ad.id
        <where>
            <if test="title!= null and title != ''">title like concat('%', #{title}, '%')</if>
            <if test="categoryId!= null and categoryId != ''">category_id = #{categoryId}</if>
            <if test="tagId!= null and tagId != ''">tag_id = #{tagId}</if>
            <if test="state!= null and state != ''">state = #{state}</if>
        </where>
        order by a.updated_time desc
    </select>
</mapper>