<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.akbar.mapper.ArticleMapper">

    <!--
    useGeneratedKeys = true 告诉 MyBatis 使用数据库生成的自增主键。
    keyProperty = "id" 指定将生成的主键值回填到 Article 对象的 id 属性中。
    -->
    <insert id="insert" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        insert into article (title, summary, content, cover_image, state, admin_id, category_id, created_time,
                             updated_time)
        values (#{title}, #{summary}, #{content}, #{coverImage}, #{state}, #{adminId}, #{categoryId}, #{createdTime},
                #{updatedTime});
    </insert>


    <!--回显文章信息-->
    <resultMap id="articleVoMap" type="com.akbar.pojo.vo.ArticleVO">
        <!-- 映射基本属性 -->
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="content" column="content"/>
        <result property="coverImage" column="cover_image"/>
        <result property="state" column="state"/>
        <result property="categoryName" column="category_name"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <!-- 映射 tagNames 集合，注意，所有result元素要在collection之前出现 -->
        <collection property="tagNames" ofType="java.lang.String">
            <result column="tag_name"/>
        </collection>
    </resultMap>
    <select id="selectArticleVoById" resultType="com.akbar.pojo.vo.ArticleVO" resultMap="articleVoMap">
        select a.id,
               a.title,
               a.summary,
               a.content,
               a.cover_image,
               a.state,
               c.name AS category_name,
               t.name AS tag_name,
               a.created_time,
               a.updated_time
        from article a
                 left join category c on a.category_id = c.id
                 left join article_tag at on a.id = at.article_id
                 left join tag t on at.tag_id = t.id
        where a.id = #{id}
    </select>
</mapper>