<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.akbar.mapper.ArticleMapper">

    <insert id="addArticle">
        insert into tb_article (title, summary, content, cover_image, state, admin_id, category_id, tag_id) values
        (#{title}, #{summary}, #{content}, #{coverImage}, #{state}, #{adminId}, #{categoryId}, #{tagId});
    </insert>

    <select id="getArticle" resultType="com.akbar.domain.entity.Article">
        select * from tb_article where id = #{id};
    </select>
</mapper>