<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.akbar.mapper.CategoryMapper">
    <update id="update" parameterType="Category">
        update category
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="adminId != null">admin_id = #{adminId},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime}</if>
        </set>
        where id = #{id}
    </update>
</mapper>