<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.akbar.mapper.LogMapper">
    <insert id="insertLog">
        insert into tb_log (operation_type, class_name, method_name, method_params, return_value, cost_time, operator, user_agent, ip_address, admin_id)
        values (#{operationType}, #{className}, #{methodName}, #{methodParams}, #{returnValue}, #{costTime}, #{operator}, #{userAgent}, #{ipAddress}, #{adminId});
    </insert>
</mapper>